{{#section 'head'}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lessons.css">
{{/section}}


<ol class="alternating-colors">
    {{#each lessons}}
  <li>
    <a href="/lesson?id={{this._id}}"><strong>{{this.title}}</strong></a>
  </li>
    {{/each}}
</ol>

{{#if owner}}
<form action="/create_lesson/{{id}}">
    <button type="submit" class="btn btn-primary">Add Lesson</button>
</form>
{{/if}}

